.following{
    padding-top: 1.5625em;
    height: 40%;
}

.folliwing_sub-container{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.folliwing_sub-container::-webkit-scrollbar{
    background-color: var(--oscuro);
    width: 2px;
}

.folliwing_sub-container::-webkit-scrollbar-thumb{
    background-color: var(--gray);
}

.following h3{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75em;

    padding-bottom: 0.625em;
}