.header{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.625em;
}

.filter__container{
    display: flex;
    align-items: center;
    gap: 0.9375em;
    overflow-y: hidden;
    overflow-x: scroll;
}

.filter__container::-webkit-scrollbar{
    background-color: var(--oscuro);
    height: 0.3125em;
}

.filter__container::-webkit-scrollbar-thumb{
    background-color: var(--gray);
    border-radius: 0.625em;
}

.filter_option{
    background-color: var(--gray);
    color: var(--white);

    padding: 0.4375em;
    box-sizing: border-box;
    border-radius: 0.5em;

    transition: all .2s;
    font-weight: 500;
    cursor: pointer;
    text-wrap: nowrap;

    margin-bottom: 0.5em;
}

.filter_option:hover{
    opacity: .8;
}

.filter_p{
    font-size: 0.875em;
}