.container_div--draw{
    /* background-color: rgb(44, 44, 44); */
    position: relative;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;
    padding: 0.9375em;
}

.moon{
    width: 48%;
    height: 32%;

    overflow: hidden;

    border-radius: 50%;
    background-color: var(--moon);

    box-shadow: var(--shadow-moon) 0.125em 0.125em;
}

.moon_mancha{
    background-color: var(--mancha);
}

/* primera mancha de la luna */

.moon_mancha:first-child{
    position: relative;
    top: 6.25em;

    width: 50%;
    height: 1.875em;

    border-radius: 0 0.5em 0.5em 0;
    animation: appear  1s alternate infinite;
}

.mancha_span--uno{
    position: relative;
    right: -3.75em;
    top: 0.625em;

    display: block;

    width: 1.125em;
    height: 0.5em;

    border-radius: 0.9375em 0 0 0.9375em;
    background-color: var(--moon);
}

.mancha_span--uno::after{
    content: '';
    position: absolute;

    right: 0.3125em;
    top: -0.625em;

    background-color: var(--mancha);
    width: 0.625em;
    height: 0.625em;

    box-shadow: var(--moon) 0.5em 0;
    border-radius: 0 3.125em 3.125em 0;
}

.mancha_span--uno::before{
    content: '';
    position: absolute;

    right: -0.3125em;
    bottom: -0.75em;

    background-color: var(--mancha);
    width: 1.125em;
    height: 0.75em;

    border-radius: 0 3.125em 3.125em 0;
}


/* mancha dos de la luna */

.moon_mancha:last-child{
    position: relative;
    right: -6.25em;

    background-color: var(--mancha);

    width: 40%;
    height: 20%;

    border-radius: 0.625em 0 0 0.625em;

    margin-top: 0%;
    
    animation: appear  1s  1s alternate infinite;
}

.mancha_span--dos{
    position: relative;
    left: 0;
    top: 0.625em;

    display: block;

    width: 1.125em;
    height: 0.5em;

    border-radius: 0 0.9375em 0.9375em 0;
    background-color: var(--moon);
}

.mancha_span--dos::after{
    content: '';
    position: absolute;

    right: 0.625em;
    top: -0.625em;

    background-color: var(--mancha);
    width: 0.8125em;
    height: 0.625em;

    box-shadow: var(--moon) -0.5em 0;
    border-radius: 3.125em 0 0 3.125em;
}

.mancha_span--dos::before{
    content: '';
    position: absolute;

    bottom: -0.6875em;

    background-color: var(--mancha);
    width: 0.75em;
    height: 0.6875em;


    box-shadow: var(--moon) -0.5em 0;
    border-radius: 3.125em 0 0 3.125em;
}

@keyframes appear {
    from{
        opacity: 1;
    }
    to{
        opacity: .6;
    }
}


/* contenedor del nombre */

.container_name{
    text-align: center;

    /* background-color: rebeccapurple; */
}

.name{
    color: var(--white);
    font-size: 1.5625em;
    letter-spacing: 0.5em;
}

.name_span{
    line-height: 1.875em;
    color: var(--purple);
}


/* strellas */

.strella{
    display: block;
    position: absolute;

    background-color: rgb(150, 150, 150);
    border-radius: 50%;
}

.strella_grande{
    width: 0.3125em;
    height: 0.3125em;
}

.strella_peque{
    width: 0.1875em;
    height: 0.1875em;
}

.strella:nth-child(1){
    top: 0.9375em;
    animation: titilar 1s 1s alternate infinite;
}

.strella:nth-child(2){
    top: 6.875em;
    left: 1.25em;
    animation: titilar 1s .6s alternate infinite;
}

.strella:nth-child(3){
    top: 0;
    right: 1.25em;
    animation: titilar 1s .2s alternate infinite;
}

.strella:nth-child(4){
    top: 15.625em;
    left: 3.4375em;
    animation: titilar 1s .5s alternate infinite;
}

.strella:nth-child(5){
    top: 12.5em;
    right: 3.125em;
    animation: titilar 1s .6s alternate infinite;
}

.strella:nth-child(6){
    top: 18.75em;
    right: 9.375em;
    animation: titilar 1s 1s alternate infinite;
}

@keyframes titilar {
    from{
        opacity: 1;
    }
    to{
        opacity: .2;
    }
}