body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    display: flex;
    align-items: center;

    width: 40.625em;
    border-radius: 0.9375em;
    overflow: hidden;
}

.container_div{
    width: 50%;
    height: 30em;

    display: flex;
}