.form{
    width: 70%;
    height: 65%;
    /* background-color: rebeccapurple; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    gap: 1.875em;
}

fieldset{
    display: flex;;
}

.fieldset_btn{
    align-items: center;
    justify-content: space-around
}

.fieldset_input,
.fieldset_links{
    flex-direction: column;
}

.form_link{
    color: var(--purple);
    text-decoration: none;
    padding: 0.3125em 0;
    text-align: center;
}

.form_btn{
    font-family: var(--font);
    border: none;
    padding: 0.625em 1.1875em;
    font-size: 1.0625em;
    border-radius: 0.125em;
    cursor: pointer;
}

.form_btn[type="submit"]{
    background-color: var(--purple);
    color: var(--white);
}

.form_btn:last-child{
    background-color: transparent;
    color: var(--purple);
    border: thin solid var(--purple);
}

label{
    color: var(--white);
    padding: 1.25em 0 0.625em 0;
    font-size: 1.25em;
}

.form_usuario{
    background-color: transparent;
    color: var(--white);
    padding: 0.3125em 0;
    font-size: 0.9375em;
    border-bottom: thin var(--white) solid;
}

.form_usuario:focus{
    border-bottom: thin var(--white) solid;
}